/* variables couleurs */
:root{
    --color-primary: #2A4F6E;
    --color-secondary: #FF5B00;
    --color-tertiary: #FFFCD1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    margin: 6rem auto;
}

/**************** page library ********************/

.new-games{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
}

.new-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-game img{
    width: 150px;
    height: 150px;
}